[submodule "sublime2/Package Control"]
	path = sublime2/Package Control
	url = https://github.com/wbond/sublime_package_control.git
[submodule "vim/pathogen"]
	path = vim/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/ruby"]
	path = vim/bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/molokai"]
	path = vim/bundle/molokai
	url = https://github.com/mrtazz/molokai.vim.git
[submodule "vim/bundle/ag"]
	path = vim/bundle/ag
	url = https://github.com/epmatsw/ag.vim.git
[submodule "vim/bundle/gist"]
	path = vim/bundle/gist
	url = https://github.com/mattn/gist-vim.git
[submodule "vim/bundle/javascript-syntax"]
	path = vim/bundle/javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "vim/bundle/rust"]
	path = vim/bundle/rust
	url = https://github.com/wting/rust.vim.git
