[Desktop Entry]
Version=1.0
Type=Application
Name=SciTE Text Editor
Comment=Edit your source files
Exec=SciTE %F
Icon=Sci48M
Path=
Terminal=false
StartupNotify=true
