[Desktop Entry]
Name=Kdenlive
GenericName=Video Editor
Comment=Nonlinear video editor for KDE
Type=Application
Exec=kdenlive %i -caption "%c" %u
Icon=kdenlive
X-DocPath=kdenlive/index.html
Terminal=false
MimeType=application/x-kdenlive;
Categories=Qt;KDE;AudioVideo;AudioVideoEditing;
X-XFCE-Source=file:///usr/share/applications/kde4/kdenlive.desktop
