[Settings]
ShowAllProcesses=TRUE
MorePrecision=FALSE
FullCommandLine=FALSE
ShowStatusIcon=TRUE
RefreshRate=500
ColumnUID=FALSE
ColumnPID=TRUE
ColumnPPID=FALSE
ColumnState=FALSE
ColumnVSZ=FALSE
ColumnRSS=TRUE
ColumnCPU=TRUE
ColumnPriority=FALSE
SortColumn=1
SortType=1
WindowWidth=673
WindowHeight=469
